
<div class="container mt-5 col-md-6 bg-mustard" *ngIf="!enviado">
  <h1 class="text-center mb-5">  Envíanos tu mensaje y te daremos presupuesto</h1>

  <form class="mx-auto" (submit)="sendEmail($event)">
    <div class="form-group my-4">
      <label  class="form-label"> Nombre Completo: <span class="text-danger">*</span></label>
      <input type="text" class="form-control"name="user_name"  placeholder="Juan" required>
    </div>

    <div class="form-group correo-input">
      <label for="correo">Correo electrónico:<span class="text-danger"> *</span></label>
      <input type="email" class="form-control" name="user_email" placeholder="Juan@gmail.com" required>
    </div>


    <div class="form-group my-4">
      <label for="message">Mensaje</label>


      <textarea class="form-control" name="message" rows="5" placeholder="Escribe tu mensaje" required></textarea>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary w-100">ENVIAR MENSAJE</button>
    </div>
  </form>
</div>
  <div class="text-center my-5" *ngIf="enviado">
    <p>¡Gracias por tu mensaje! Nos pondremos en contacto contigo lo antes posible.</p>
  </div>


