
<div class="container mt-5 col-md-6 bg-mustard">
  <h1 class="text-center mb-5">  Envíanos tu mensaje y te daremos presupuesto</h1>

  <form class="mx-auto" (ngSubmit)="onSubmit()">
    <div class="form-group my-4">
      <label  class="form-label"> Nombre Completo<span class="text-danger" *ngIf="nombreObligatorio">*</span></label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="nombre" placeholder="Juan" required>
    </div>

    <div class="form-group correo-input">
      <label for="correo">Correo electrónico:<span class="text-danger" *ngIf="correoObligatorio">*</span></label>
      <input type="email" class="form-control" id="correo" [(ngModel)]="correo" name="correo" placeholder="Juan@gmail.com" required>
    </div>


    <div class="form-group my-4">
      <label for="message">Mensaje</label>
      <textarea class="form-control" id="message" name="message" rows="5" placeholder="Escribe tu mensaje" [(ngModel)]="mensaje"></textarea>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary w-100">ENVIAR MENSAJE</button>
    </div>
  </form>

  <div class="text-center my-5" *ngIf="mensajeEnviado">
    <p>¡Gracias por tu mensaje! Nos pondremos en contacto contigo lo antes posible.</p>
    <button type="button" class="btn btn-secondary" (click)="mensajeEnviado = false">Volver a enviar otro mensaje</button>
  </div>
</div>

